{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Patient Login</title>
   <link rel="stylesheet" type="text/css" href="{% static 'css/patient_login.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Roboto&display=swap' rel='stylesheet'>
</head>
<body>
<form method="POST">
    {% csrf_token %}
    <div class="first">
        <legend ><br>Patient <br>Login </legend><br>
        <input type="text" placeholder="email" required name="email"><br><br>
        <input type="password" placeholder="Password" required name="psw"><br><br><br>
        <button type="submit"> LOGIN</button><br><br>
        <a href="{% url 'Regpatient' %}">REGISTER </a> 
        
    </div>
    {% if messages %}
    {% for msg in messages %}
    <h3>{{msg}}</h3>
    {% endfor %}
    {% endif %}
</form>
</body>
</html>