{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Doctor Sign Up</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/doctor_signup.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Roboto&display=swap' rel='stylesheet'>

</head>
<body>

<form method="POST" >
    {% csrf_token %}
    <div class="first">
    <div class="container">
    <legend>Sign Up</legend>
    <p>Please fill in this form to create an account.</p>
    <hr>
        <p><h1>Doctor Information</h1></p><br>
        <label for="full name"><b>Full Name</b></label><br>
        <input type="text" placeholder="Enter Full Name" name="full_name" required><br>

        <label for="hospital name"><b>Hospital Name and Address</b></label><br>
        <input type="text" placeholder="Enter Hospital name and address" name="hospital_name" required><br>

        <label for="number"><b>Contact No.</b></label><br>
        <input type="number" placeholder="Enter Number" name="number_doc" required><br>

        <label for="email"><b>Email</b></label><br>
        <input type="text" placeholder="Enter Email" name="email_doc" required><br>

        <label for="username"><b>Username</b></label><br>
        <input type="text" placeholder="Enter Username" name="username_doc" required><br>

        <label for="psw"><b>Password</b></label><br>
        <input type="password" placeholder="Enter Password" name="psw_doc" required><br><br>

        <div class="clearfix">
            <button type="submit" class="signupbtn">Sign Up</button>
        </div>
  </div>
  {% if messages %}
  {% for msg in messages %}
  <h3>{{msg}}</h3>
  {% endfor %}
  {% endif %}
  <br>
  <br>
  <em>Already have an account? <a href="{% url 'Loginpagedoctor' %}">Login in</a></em>
</div>
</form>
</body>
</html>
